<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>OneTouch</title>
  <link rel="stylesheet" href="/styles/reset.css" media="screen" title="no title" charset="utf-8">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
  crossorigin="anonymous">
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>


  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Libre+Barcode+128+Text|Ubuntu+Condensed&display=swap|Ubuntu+Mono&display=swap"
    rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
  <script src="/js/scripts/papaparse.min.js"></script>
  <script src="/js/scripts/filedrop.js"></script>
  <script src="/js/scripts/moment.min.js"></script>
</head>

<body>
  <div class="grid">
    <header>
      <div class="title">OneTouch Inventory Management</div>
    </header>
    <div class="sidebar">
      <div class="body-header sidebar-header">**USER ROLE**</div>
      <ul>
        <li>User page</li>
        <li>Specific Role page</li>
      </ul>
    </div>
    <div class="body-hb">
      {{{body}}}
    </div>
  </div>
</body>

</html>