<div class="login">
  
  <h2>Sign in with:</h2>

  <%=title%>

  <ul>
    <li>
      <a href="/routes/auth.js/google" class="googleplus">
      <i class="fa fa-google-plus"></i></a>
    </li>
  </ul>
  

</div>
