<div class="login">
  
  <h2>Sign in with:</h2>
  <ul class="social list-inline">
    <li>
      <a href="/auth/google" class="googleplus">
      <i class="fa fa-google-plus"></i></a>
      <a href="/auth/twitter" class="twitter">
      <i class="fa fa-twitter"></i></a>
    </li>
  </ul>
  
</div>