<div class="container">
    <div>
        <div class="sub-header">Manager</div>
        <button class="returns btn-blue">Returns</button>
        <button class="assets btn-blue">Assets</button>
        <button class="types btn-blue">Types</button>
        <button class="users btn-blue">Users</button>
    </div>
</div>
