<div class="container">
    <div>
        <div class="sub-header">Manager</div>
        <button class="departments btn-blue">Departments</button>
        <button class="types btn-blue"> Item Types</button>
        <button class="users btn-blue">Users</button>
    </div>
</div>

<script src="/js/manager.js"></script>