<div class="body-header">Warehouse</div>
<div class="container">
    <div>
        <div class="sub-header">Assignment</div>
        <button class="assign-asset btn-orange">Assign Asset</button>
    </div>
    <div>
        <div class="sub-header">Individual Management</div>
        <button class="create-one-asset btn-green">Create Asset Record</button>
        <button class="edit-one-asset btn-green">Edit Asset Record</button>
        <button class="return-one-asset btn-green">Return Asset</button>
    </div>
    <div>
        <div class="sub-header">Bulk Management</div>
        <button class="create-bulk-asset btn-blue">Bulk - Create Assets</button>
        <button class="return-bulk-asset btn-blue">Bulk - Return Assets</button>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/warehouse.js"></script>