body {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 20px;
    background-image: url("/img/bkgnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    border: none;
    padding: 10px;
    margin: 10px;
}

header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background: #96afff;
}

select {
    width: 200px;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding: 10px;
    text-align: left;
    background-color: #000096;
    color: white;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

input {
    display: block;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 18px;
    width: 300px;
}

.title {
    font-family: "Libre Barcode 128 Text", cursive;
    color: black;
    font-size: 75px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 200px auto auto auto;
    grid-template-rows: 150px auto;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    background: #96afff;
    font-size: 16px;
    line-height: 1.6em;
    height: 100px;
    margin: 15px 10px;
    align-items: center;
    border-radius: 10px;
    color: black;
}

.body-header {
    font-family: "Libre Barcode 128 Text", cursive;
    font-size: 50px;
    align-self: center;
    margin: 0 10px;
}

.container {
    padding: 15px 5px;
    margin: 15px 15px;
    background-color: rgba(150, 175, 255, .4);
    border-radius: 10px;
}

.sub-header {
    font-size: 30px;
    margin: 20px 15px;
}

.body-hb {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    padding: 10px;
}

.instructions {
    font-size: 18px;
    line-height: 1.4em;
    margin: 20px;
}

.instructions > ul {
    list-style-type: circle;
    margin: 20px 40px;
}

.dropdown-container {
    display: grid;
    grid-column: auto auto;
    width: 400px;
}

.asset-drop {
    margin: 5px;
    grid-column: 1 / 2;
}

.user-drop {
    margin: 5px;
    grid-column: 2 / 3;
}

.code {
    font-family: "Ubuntu Mono", monospace;
    font-size: 17px;
    font-weight: bold;
}

.btn-blue {
    background-color: #000096;
    color: white;
    border-radius: 5px;
}

.btn-green,
.fd-file {
    background-color: #009600;
    color: white;
    border-radius: 5px;
}

.btn-orange {
    background-color: #e69600;
    color: white;
    border-radius: 5px;
}

.error-txt {
    background-color: red;
    color: white;
}

#dropcsv {
    display: inline-block;
    padding: 20px;
    margin: 30px;
    background-color: #009600;
    color: white;
}

.social a {
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    display: inline-block;
    padding-top: 4px;
    background-clip: padding;
}

.googleplus {
    background: #dd4b39;
    color: #ffffff;
}

.twitter {
    background: #55acee;
    color: #ffffff;
}

.card {
    margin-bottom: 15px;
}

.small-text {
    font-size: 14px;
}

@media screen and (max-width: 775px) {
    .title {
        font-size: 50px;
        padding: 10px;
        margin-bottom: 20px;
        text-align: left;
    }
    .grid {
        display: grid;
        grid-template-columns: 150px auto auto auto;
        grid-template-rows: 100px auto;
    }
    .body-header {
        font-size: 35px;
        padding: 5px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 45px;
        padding: 10px;
        margin-bottom: 20px;
        text-align: left;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 100px auto;
    }
    .body-hb {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        padding: 10px;
    }
    .sidebar {
        visibility: hidden;
    }
}
