body {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 20px;
}

button {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 15px;
  border: none;
  padding: 10px;
  margin: 10px;
}

header {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  background: #96afff;
}

select {
  width: 200px;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding: 10px;
  text-align: left;
  background-color: #000096;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

input {
  display: block;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 18px;
  margin: 10px;
  padding: 5px;
  width: 300px;
}

.title {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 75px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 200px auto auto auto;
  grid-template-rows: 150px auto;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: #96afff;
  padding: 10px;
  font-size: 16px;
  line-height: 1.6em;
}

.body-header {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 50px;
  padding: 10px;
  margin-bottom: 20px;
}

.sub-header {
  font-size: 30px;
  margin: 20px 15px;
}

.body-hb {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  padding: 10px;
}

.instructions {
  font-size: 18px;
  line-height: 1.4em;
  margin: 20px;
}

.instructions>ul {
  list-style-type: circle;
  margin: 20px 40px;
}

.dropdown-container {
  display: grid;
  grid-column: auto auto;
  width: 400px;
}

.asset-drop {
  margin: 5px;
  grid-column: 1 / 2;
}

.user-drop {
  margin: 5px;
  grid-column: 2 / 3;
}

.code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 17px;
  font-weight: bold;
}

.btn-blue {
  background-color: #000096;
  color: white;
}

.btn-green, .fd-file {
  background-color: #009600;
  color: white;
}

.btn-orange {
  background-color: #e69600;
  color: white;
}

.error-txt {
  background-color: red;
  color: white;
}

#dropcsv {
  display: inline-block;
  padding: 20px;
  margin: 30px;
  background-color: #009600;
  color: white;
}