body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}

.title {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 60px;
  padding: 20px;
  margin-bottom: 20px;
}

.list-group-item {
  line-height: 2.5;
}
