body {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 20px;
}

.title {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 75px;
  padding: 20px;
  margin-bottom: 20px;
}

#dropcsv {
  display: inline-block;
  padding: 20px;
  margin: 30px;
  background-color: #7dcd7d;
  width: 150px;
  height: 75px;
}